<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="common/common-head.html :: common-head"></head>

<body class="application application-offset common_fill_box_gr">
	

	
	
	
	
	
	
	
	
	
	
	
	
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      
    
	
			
			
			
      
<!-- Page content S -->
<div class="page-content">
  
  <div class="common-box-in">


    <div class="text_gr">
      <img class="img_gr" src="/assets/img/v_img/img_02.png">
      <h3><strong></strong>주문하신 상품은 품절된 상품입니다</h3>
      <p>호미는 신선한 먹거리와 생산량 자율 조절로 인한 농업인과 소비자의 상생을 지향합니다.</p>
      <a href="/" class="btn btn-outline-success rounded-pill my-3 text-lg">홈으로 돌아가기</a>
    </div>

    
    
  </div>
  
</div>
<!-- Page content E -->
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
       <!-- Footer S -->
       <div th:replace="common/common-footer.html :: common-footer">
       </div>
       <!-- Footer E -->
    </div>
  </div>
	
	
	<!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="/assets/js/purpose.core.js"></script>
  <!-- Page JS -->
  <script src="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <!-- Purpose JS -->
  <script src="/assets/js/purpose.js"></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="/assets/js/demo.js"></script>
	
	
</body>
</html>