<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/common-head.html :: common-head"></head>

<body class="application application-offset common_fill_box_gr" sec:authorize="isAnonymous()">
	

	
	
	
	
	
	
	
	
	
	
	
	
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      
    
			
			
			
			
			<!-- NAV S -->
			<nav th:replace="common/common-nav.html :: common-nav">
			</nav>
			<!-- NAV E -->
			

			
      
      
      
			
			
			
			
			
			
			
			
			
      
<!-- Page content S -->
<div class="page-content">
  
  <div class="common-box-in">
    


    <!-- 가입완료 s -->
    <!-- div th:if="${#strings.equals(code, '1')}" th:text="${Register.name} + '님 회원가입을 진심으로 환영합니다!'"></div -->
    <div class="text_gr" th:if="${#strings.equals(code, '1')}">
      <img class="img_gr" src="/assets/img/v_img/img_01.png">
      <h3><strong th:text="${Register.name}"></strong>님 회원가입을 진심으로 환영합니다!</h3>
      <p>호미는 신선한 먹거리와 생산량 자율 조절로 인한 농업인과 소비자의 상생을 지향합니다.</p>
      <a href="product_list" class="btn btn-outline-success rounded-pill my-3 text-lg">농가 작물 구매하기</a>
    </div>
    <!-- 가입완료 e -->


    <!-- 에러공통 s -->
    <!-- div th:if="${#strings.equals(code, '0')}" th:text="'회원가입 실패! ' + ${Register.id} + '은(는) 중복된 아이디 입니다.'"></div -->
    <div class="text_gr" th:if="${#strings.equals(code, '0')}">
      <img class="img_gr" src="/assets/img/v_img/img_02.png">
      <h3>회원가입 실패</h3>
      <p>가입하신 이력이 있습니다.<br> 해당 아이디는 중복된 아이디 입니다.</p>
      <a href="javascript:history.back()" class="btn btn-outline-success rounded-pill my-3 text-lg">돌아가기</a>
    </div>
    <!-- 에러공통 e -->
    
    
  </div>
  
</div>
<!-- Page content E -->
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
       <!-- Footer S -->
       <div th:replace="common/common-footer.html :: common-footer">
       </div>
       <!-- Footer E -->
    </div>
  </div>
	
	
	<!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="/assets/js/purpose.core.js"></script>
  <!-- Page JS -->
  <script src="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <!-- Purpose JS -->
  <script src="/assets/js/purpose.js"></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="/assets/js/demo.js"></script>
	
	
</body>
</html>