<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/common-head.html :: common-head"></head>

<body class="application application-offset" sec:authorize="isAnonymous()">


		<!-- 개인정보 처리방침 modal s -->
		<div th:fragment="privacy" class="modal fade privacy-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered"> <!-- 화면 가운데 정렬 modal-dialog-centered -->
			  <div class="modal-content">
				<div class="modal-header">
				  <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
					<div>
					  <div class=""></div>
					</div>
					<div>
					  <h6 class="mb-0">개인정보 처리방침</h6>
					</div>
				  </div>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body h-max-50vh">
					<!-- 개인정보 처리방침 s -->
					<div th:fragment="privacy-content" class="privacy">
						<div id="pop_container">
							<div id="pop_content">
								<h2>개인정보 처리방침<span>(ver 1.0)</span></h2>
								
								<p class="h_txt">에이팜스 주식회사(이하 “회사”라고 함)는 개인정보보호법, 통신비밀보호법, 전기통신사업법 등 관련 법령 상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보처리방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다.</p>
								<p>본 개인정보처리방침은 회사에서 제공하는 서비스에 적용되며 다음과 같은 내용을 담고 있습니다.</p>
								<div class="privacy_lst">
									<ol class="lft">
										<li><a style="selector-dummy: true;" hidefocus="" href="#1">1. 수집하는 개인정보의 항목 및 수집방법</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#2">2. 개인정보의 수집 및 이용목적</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#3">3. 개인정보 제공</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#4">4. 개인정보의 처리위탁</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#5">5. 개인정보의 보유 및 이용기간</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#6">6. 개인정보 파기절차 및 방법</a></li>
									</ol>
									<ol class="rgt">
										<li><a style="selector-dummy: true;" hidefocus="" href="#7">7. 이용자 및 법정대리인의 권리와 그 행사방법</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#8">8. 개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#9">9. 개인정보의 기술적/관리적 보호 대책</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#10">10. 개인정보보호책임자 및 담당자의 연락처</a></li>
										<li><a style="selector-dummy: true;" hidefocus="" href="#11">11. 고지의 의무</a></li>
									</ol>
								</div>
								<div class="section sec1">
									<h3><a name="1" style="selector-dummy: true;" hidefocus="">1. 수집하는 개인정보의 항목 및 수집방법</a></h3>
									<h4>가. 수집하는 개인정보의 항목</h4>
									<p>첫째, 회사는 회원(또는 서비스) 가입, 원활한 고객상담, 각종 서비스의 제공 등을 위해 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다.</p>
									<div class="tbl_type4">
										<table border="1" cellspacing="0" summary="회사 내부 방침에 의한 정보보유 사유">
											<colgroup>
												<col style="width: 30%;">
												<col style="width: 70%;">
											</colgroup>
											<thead>
											<tr>
												<th>서비스명</th>
												<th>개인정보 항목</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td>검색광고</td>
												<td>
													<div>
														<dl>
															<dt>&lt;사업자 회원&gt;</dt>
															<dd>&nbsp;- 아이디, 비밀번호, 이메일주소, 전화번호, 휴대전화번호, 담당자명, 사업자정보(대표자명, 업체명, 주소)</dd>
														</dl>
													</div>
													<div>
														<dl>
															<dt>&lt;개인 회원&gt;</dt>
															<dd>&nbsp;- 이름, 아이디, 비밀번호, CI(암호화된 동일인 식별정보), DI(중복가입 확인정보), 생년월일, 성별, 이메일주소, 주소, 전화번호, 휴대전화번호</dd>
														</dl>
													</div>
													<div>
														<dl>
															<dt>&lt;영업사원&gt;</dt>
															<dd>&nbsp;- 이름, 소속대행사, 아이디, 비밀번호, 이메일, 직군, 전화번호, 휴대전화번호, IP, 주민등록증 사본, 의료보험증 사본, 재직증명서 사본, 생년월일</dd>
														</dl>
													</div>
													<div>
														<dl>
															<dt>&lt;해외 영업사원&gt;</dt>
															<dd>&nbsp;- 이름, 소속대행사, 아이디, 비밀번호, 이메일, 직군, IP, 여권 사본, 재직증명서 사본, 생년월일</dd>
															<dd>&nbsp;- 선택항목: 전화번호, 휴대전화번호</dd>
														</dl>
													</div>
												</td>
											</tr>
											<tr>
												<td>디스플레이 광고</td>
												<td>
													<div>
														<dl>
															<dd>&nbsp;- 아이디, 비밀번호, 이름, 소속회사, 소속팀, 소속인증문서(재직증명서 사본 등), 사내 전화번호, 휴대전화번호, 이메일주소</dd>
														</dl>
													</div>
												</td>
											</tr>
											<tr>
												<td>호미서비스</td>
												<td>
													<div>
														<dl>
															<dt>&lt;일반회원&gt;</dt>
															<dd>&nbsp;- 에이팜스 아이디로 가입: 에이팜스 아이디, 에이팜스 회원정보의 이름, 이메일주소, 휴대전화번호</dd>
															<dd>&nbsp;-&nbsp;새로운 아이디로 가입: 이메일주소(아이디), 비밀번호, 이름, 휴대전화번호</dd>
														</dl>
													</div>
													<div>
														<dl>
															<dt>&lt;개인 판매회원&gt;</dt>
															<dd>&nbsp;- 이름 ,DI(중복가입확인정보), CI(암호화된 동일인 식별정보), 생년월일, 이메일주소, 휴대전화번호, 주소, 대표전화번호, 정산대금 입금 계좌정보(은행명, 예금주명, 계좌번호), 배송정보(출고지 및 반품/교환지의 주소 및 연락처), 미성년자의 경우 법정대리인 정보 및 관련 증빙서류(법정대리인 동의서 사본(회원의 이름, 로그인ID, 생년월일, 주소, 연락처, 이메일/법정대리인의 이름,생년월일, 주소, 연락처, 이메일), 가족관계증명서(또는 법정대리인 증명서류) 사본, 법정대리인 인감증명서 사본, 특정상품 판매 시 관련업 신고증)</dd>
														</dl>
													</div>
													<div>
														<dl>
															<dt>&lt;사업자 판매회원&gt;</dt>
															<dd>&nbsp;- 대표자명, 사업장 주소, 대표전화번호, 대표자 생년월일 담당자 정보(이메일주소 또는 휴대전화번호), 배송정보(출고지 및 반품/교환지의 주소 및 연락처), 정산대금 입금 계좌정보(은행명, 예금주명, 계좌번호), 증빙서류(사업자등록증, 인감증명서, 통장 사본), 특정상품판매 시 관련업 신고증)</dd>
														</dl>
													</div>
													<div>
														<dl>
															<dt>&lt;해외 개인 판매회원&gt;</dt>
															<dd>&nbsp;- 필수항목: 이름, 여권번호, 국적, 해외 주소, 대표전화번호, 담당자 정보(이메일주소 또는 휴대전화번호), 배송정보(출고지 및 반품/교환지의 주소 및 연락처), 정산대금 입금계좌정보(은행명, 예금주명, 계좌번호), 증빙서류(신분증 사본, 통장(또는 해외계좌 인증 서류) 사본, 특정상품 판매 시 관련업 신고증)&nbsp;</dd>
															<dd>&nbsp;- 선택항목: 국내 주소</dd>
														</dl>
													</div>
													<div>
														<dl>
															<dt>&lt;해외 사업자 판매회원&gt;</dt>
															<dd>&nbsp;- 필수항목: 대표자명, 해외 사업장 주소, 대표전화번호, 담당자 정보(이메일주소 또는 휴대전화번호), 배송정보(출고지 및 반품/교환지의 주소 및 연락처), 정산대금 입금계좌정보(은행명, 예금주명, 계좌번호), 증빙서류(신분증 사본, 통장(또는 해외계좌 인증 서류) 사본, 특정상품 판매 시 관련업 신고증)</dd>
															<dd>&nbsp;-&nbsp;선택항목: 국내 사업장 주소</dd>
															<dt>&lt;개인 창작자회원&gt;</dt>
															<dd>&nbsp;- 이름, 이메일주소, 휴대전화번호, 주소, 대표전화번호, DI(중복가입확인정보), CI(암호화된 동일인 식별정보), 프로필 사진, 별명, SNS ID, 담당자 정보(휴대전화번호, 이메일주소), 정산대금 입금 계좌정보(은행명, 예금주명, 계좌번호)</dd>
															<dt>&lt;탑탑 담당자 정보&gt;</dt>
															<dd>&nbsp;- 이름, 휴대전화번호, 이메일주소</dd>
															<dt>&lt;고객 확인제도 등록정보&gt;</dt>
															<dd>&nbsp;- 개인: 실지명의(이름, 생년월일, 성별, CI, 계좌정보), 주소, 연락처</dd>
															<dd>&nbsp;- 법인: 대표자 및 실소유자의 이름, 생년월일, 성별, 국적</dd>
															<dt>&lt;강화된 고객 확인제도 등록정보&gt;</dt>
															<dd>&nbsp;- 주민등록번호 또는 외국인등록번호, 직업 또는 업종, 거래목적, 자금 원천</dd>
														</dl>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
									<p class="sub_txt">둘째, 서비스 이용과정이나 서비스 제공 업무 처리 과정에서 아래와 같은 정보들이 자동으로 생성되거나 추가로 수집될 수 있습니다.<br>- IP Address, 쿠키, 접속로그, 방문 일시, 서비스 이용 기록, 불량 이용 기록</p>
									<p class="sub_txt">셋째, 회사 마케팅센터 내의 광고 또는 온라인 서비스 이용 과정에서 특정 서비스의 이용자에 한해 아래와 같은 정보들이 추가로 수집될 수 있습니다.</p>
									<p class="sub_txt">넷째, 서비스 이용 시 관련 법률 준수를 위해 본인인증이 필요한 경우, 아래와 같은 정보들이 수집될 수 있습니다.<br>- 이름, 생년월일, 성별, 중복가입확인정보(DI), 암호화된 동일인 식별정보(CI), 휴대폰 번호(선택), 아이핀 번호(아이핀 이용시), 내/외국인 정보</p>
									<p class="sub_txt">다섯째, 유료 서비스 이용 과정에서 아래와 같은 결제 정보들이 수집될 수 있습니다.<br>- 신용카드 결제 시: 카드사명, 카드번호 등<br>- 휴대전화 결제 시: 이동전화번호, 통신사, 결제승인번호 등<br>- 계좌이체 시: 은행명, 계좌번호 등</p>
									<h4 class="sub_tit">나. 개인정보 수집방법</h4>
									<p>회사는 다음과 같은 방법으로 개인정보를 수집합니다.</p>
									<ul class="sub_txt_lst">
										<li>- 홈페이지, 서면양식, 팩스, 전화, 상담 게시판, 이메일, 이벤트 응모, 배송요청</li>
										<li>- 협력회사로부터의 제공</li>
										<li>- 생성정보 수집 툴을 통한 수집</li>
									</ul>
								</div>
								<div class="section sec2">
									<h3><a name="2" style="selector-dummy: true;" hidefocus="">2. 개인정보의 수집 및 이용목적</a></h3>
									<div class="group">
										<h4>가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</h4>
										<p class="sub_txt">컨텐츠 제공, 특정 맞춤 서비스 제공, 물품배송 또는 청구서 등 발송, 본인인증, 구매 및 요금 결제, 요금추심</p>
										<h4 class="sub_tit">나. 회원관리</h4>
										<p class="sub_txt">회원제 서비스 제공, 개인식별, 에이팜스 이용약관 위반 회원에 대한 이용제한 조치, 서비스의 원활한 운영에 지장을 미치는 행위 및 서비스 부정이용 행위 제재, 가입의사 확인, 가입 및 가입횟수 제한, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달, 회원탈퇴 의사의 확인</p>
										<h4 class="sub_tit">다. 신규 서비스 개발 및 마케팅·광고에의 활용</h4>
										<p class="sub_txt">신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 정보&nbsp;및 참여기회 제공, 광고성 정보 제공, 접속빈도 파악, 회원의 서비스이용에 대한 통계</p>
									</div>
								</div>
								<div class="section sec3">
									<h3><a name="3" style="selector-dummy: true;" hidefocus="">3. 개인정보 제공</a></h3>
									<h4>가. 회사는 이용자들의 개인정보를 “2. 개인정보의 수집목적 및 이용목적”에서 고지한 범위내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</h4>
									<ul class="sub_txt_lst">
										<li>- 이용자들이 사전에 공개에 동의한 경우</li>
										<li>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
									</ul>
									<h4 class="sub_tit">나. 회사가 제공하는 통신판매중개서비스를 통하여 주문 및 결제가 이루어진 경우 거래 당사자간 원활한 의사소통 및 배송,&nbsp;상담&nbsp;등 거래이행을 위하여 관련된 정보를 필요한 범위 내에서 거래 당사자에게 제공합니다.</h4>
									<p class="sub_txt">회사는 고객에 대하여 보다 더 질 높은 서비스 제공을 위해 가. 이용자들이 사전에 공개에 동의한 경우 아래와 같이 개인정보를 제공하고 있습니다.</p>
									<div class="tbl_type4 only_pc">
										<table border="1" cellspacing="0" summary="개인정보 제공 내용" ><colgroup> <col="18%"> <col="26%"> <col="26%"> <col="30%"> </colgroup>
											<thead>
											<tr >
												<th >제공받는 자</th>
												<th >제공하는 항목</th>
												<th >제공받는 자의 이용목적</th>
												<th>보유 및 이용기간</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td >에이팜스 검색광고 대행사</td>
												<td>광고주회원 아이디</td>
												<td>광고운영 시 광고주회원 확인용</td>
												<td>서비스 제공기간 (제휴업체 변경 혹은 해당 서비스 해지 시 파기)</td>
											</tr>
											<tr>
												<td>
													<p>에이팜스 공식 쇼핑파트너사 중 입점 쇼핑몰이 이용하고 있는 쇼핑파트너사</p>
												</td>
												<td>
													<p>쇼핑몰 정보(쇼핑몰 ID, 대표자명), 담당자 정보(이름, 휴대폰번호, 이메일), 서비스 이용기록</p>
												</td>
												<td>
													<p>쇼핑몰의 호스팅, 상품 및 판매 관리 업무 대행</p>
												</td>
												<td >
													<p>에이팜스 쇼핑 탈퇴 시까지 또는 쇼핑파트너사의 EC 호스팅 이용 기간 동안</p>
												</td>
											</tr>
											<tr>
												<td >
													<p>경찰청, 더치트</p>
												</td>
												<td>
													<p>휴대전화번호, 은행 계좌번호</p>
												</td>
												<td>
													<p>구매자에게 안전한 쇼핑 서비스를 제공하기 위한 의심거래 조회 및 결과값 비교</p>
												</td>
												<td>
													<p>제공받는 자가 이미 보유하고 있는 개인정보이기 때문에 별도로 저장하지 않음</p>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
									<div class="tbl_type4 only_mobile">
										<ul>
											<li class="list_item" style="list-style-type: none;">
												<ol>
													<li>제공받는 자 : 에이팜스 검색광고 대행사</li>
													<li>제공하는 항목 : 광고주 회원 아이디</li>
													<li>제공받는 자의 이용 목적 : 광고운영시 광고주 회원 확인용</li>
													<li>보유 및 이용기간 : 서비스 제공기간(제휴업체 변경 혹은 해당 서비스 해지 시 파기)</li>
												</ol>
												<ol>
													<li>제공받는 자 : 에이팜스 공식 쇼핑파트너사 중 입점 쇼핑몰이 이용하고 있는 쇼핑파트너사</li>
													<li>제공하는 항목 : 쇼핑몰 정보(쇼핑몰 ID, 대표자명), 담당자 정보(이름, 휴대폰번호, 이메일), 서비스 이용기록</li>
													<li>제공받는 자의 이용 목적 : 쇼핑몰의 호스팅, 상품 및 판매 관리 업무 대행</li>
													<li>보유 및 이용기간 : 에이팜스 쇼핑 탈퇴 시까지 또는 쇼핑파트너사의 EC 호스팅 이용 기간 동안</li>
												</ol>
												<ol>
													<li>제공받는 자 : 경찰청, 더치트</li>
													<li>제공하는 항목 : 휴대전화번호, 은행 계좌번호</li>
													<li>제공받는 자의 이용 목적 : 구매자에게 안전한 쇼핑 서비스를 제공하기 위한 의심거래 조회 및 결과값 비교</li>
													<li>보유 및 이용기간 : 제공받는 자가 이미 보유하고 있는 개인정보이기 떄문에 별도로 저장하지 않음</li>
												</ol>
											</li>
										</ul>
									</div>
								</div>
								<div class="section sec4">
									<h3><a name="4" style="selector-dummy: true;" hidefocus="">4. 개인정보의 처리위탁</a></h3>
									<p>회사는 서비스 향상을 위해서 아래와 같이 개인정보를 위탁하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다.</p>
									<p>회사의 개인정보 위탁처리 기관 및 위탁업무 내용은 아래와 같습니다.</p>
									<div class="tbl_type4 only_pc">
										<table border="1" cellspacing="0" summary="개인정보 위탁처리 기관 및 위탁업무 내용" ><colgroup> <col style="width:20%" > <col style="width:40%"> <col style="width:40%"> </colgroup>
											<thead>
											<tr >
												<th >수탁업체</th>
												<th >위탁업무 내용</th>
												<th >개인정보의 보유 및 이용기간</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td>없음</td>
												<td>고객상담, 서비스 운영, 마케팅 정보 및 프로모션 정보 제공 휴대폰 인증, 아이핀(I-PIN)을 통한 중복가입확인 및 연계정보 확인</td>
												<td>회원탈퇴 시 혹은 위탁계약 종료 시까지 해당 업체에서 이미 보유하고 있는 개인정보이기 때문에 별도로 저장하지 않음</td>
											</tbody>
										</table>
									</div>
								</div>
								<div class="section sec5">
									<h3><a name="5" style="selector-dummy: true;" hidefocus="">5. 개인정보의 보유 및 이용기간</a></h3>
									<p>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보관합니다.</p>
									<h4 class="sub_tit2">가. 회사 내부 방침에 의한 정보보유 사유</h4>
									<div class="tbl_type4 only_pc">
										<table border="1" cellspacing="0" summary="회사 내부 방침에 의한 정보보유 사유"><colgroup> <col> <col> <col> </colgroup>
											<thead>
											<tr>
												<th>보관사유</th>
												<th>보관하는 정보</th>
												<th>보관기간</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td rowspan="2">부정 가입 및 이용 방지</td>
												<td>
													<p>검색광고 부정이용기록(아이디, 성명, DI)</p>
												</td>
												<td>6개월</td>
											</tr>
											<tr>
												<td>에이팜스 판매회원의 CI(암호화된 동일인 식별정보)</td>
												<td>3년</td>
											</tr>
											<tr>
												<td>환불조치&nbsp;및 민원처리 등</td>
												<td>
													<p>에이팜스 퇴점기록</p>
												</td>
												<td>
													<p>퇴점일로부터 30일(단, MMC 내 충전금이 0원 이하인 경우, 충전금 부족일로부터 180일)</p>
												</td>
											</tr>
											<tr>
												<td rowspan="4">재입점/가입 신청의 효율적인 처리 및 악의적 재입점/가입 신청 방지</td>
												<td>
													<p>에이팜스 호미 입점/가입 미승인(보류/거부) 등록정보</p>
												</td>
												<td>
													<p>입점 신청일로부터 1년, 명시적인 등록거절시 의사를 표시한날로부터 30일</p>
												</td>
											</tr>
											<tr>
												<td>
													<p>호미 입점/가입 미승인(보류/거부) 등록정보</p>
												</td>
												<td>가입 신청일로부터 6개월, 명시적 등록 거절시 의사를 표시한날로부터 30일</td>
											</tr>
											<tr>
												<td>
													<p>검색광고 아이디, 성명, DI</p>
												</td>
												<td>탈퇴일로부터 30일</td>
											</tr>
											<tr>
												<td>
													<p>호미 일반회원의 경우 아이디, 판매자 회원의 경우 CI(암호화된 동일인 식별정보), 여권번호/ID카드</p>
												</td>
												<td>탈퇴일로부터 30일</td>
											</tr>
											<tr>
												<td>
													<p>권리침해신고 건에 대한 조치 및 분쟁 당사자들에 대한 안내 등 추가적인 처리</p>
												</td>
												<td>
													<p>지식재산권 침해 신고 시 침해신고서 등 제출한 증빙서류</p>
												</td>
												<td>6개월</td>
											</tr>
											</tbody>
										</table>
									</div>
									<div class="tbl_type4 only_mobile">
										<ul>
											<li class="list_item" style="list-style-type: none;">
												<ol>
													<li>보관사유 : 부정 가입 및 이용 방지</li>
													<li>보관하는 정보 : 검색광고 부정이용기록 (아이디, 성명, DI)</li>
													<li>보관기간 : 6개월</li>
												</ol>
												<ol>
													<li>보관사유 : 부정 가입 및 이용 방지</li>
													<li>보관하는 정보 : 에이팜스 호미센터 개인 판매회원의 CI (암호화된 동일인 식별정보)</li>
													<li>보관기간 : 3년</li>
												</ol>
												<ol>
													<li>보관사유 : 환불조치 및 민원처리 등</li>
													<li>보관하는 정보 : 에이팜스 호미 퇴점기록</li>
													<li>보관기간 : 퇴점일로부터 30일(단, MMC 내 충전금이 0원 이하인 경우, 충전금 부족일로부터 180일간)</li>
												</ol>
												<ol>
													<li>보관사유 : 재입점/가입 신청의 효율적인 처리 및 악의적 재입점/가입 신청 방지</li>
													<li>보관하는 정보 : 에이팜스 호미 입점/가입 미승인(보류/거부) 등록정보</li>
													<li>보관기간 : 입점 신청일로부터 1년, 명시적인 등록거절시 의사를 표시한날로부터 30일</li>
												</ol>
												<ol>
													<li>보관사유 : 재입점/가입 신청의 효율적인 처리 및 악의적 재입점/가입 신청 방지</li>
													<li>보관하는 정보 : 호미 입점/가입 미승인(보류/거부) 등록정보</li>
													<li>보관기간 : 가입 신청일로부터 6개월, 명시적 등록 거절시 의사를 표시한날로부터 30일</li>
												</ol>
												<ol>
													<li>보관사유 : 재입점/가입 신청의 효율적인 처리 및 악의적 재입점/가입 신청 방지</li>
													<li>보관하는 정보 : 검색광고 아이디, 성명, DI</li>
													<li>보관기간 : 탈퇴일로 부터 30일</li>
												</ol>
												<ol>
													<li>보관사유 : 재입점/가입 신청의 효율적인 처리 및 악의적 재입점/가입 신청 방지</li>
													<li>보관하는 정보 : 호미 일반회원의 경우 아이디, 판매자 회원의 경우 CI(암호화된 동일인 식별정보), 여권번호/ID카드</li>
													<li>보관기간 : 탈퇴일로부터 30일</li>
												</ol>
												<ol>
													<li>보관사유 : 권리침해신고 건에 대한 조치 및 분쟁 당사자들에 대한 안내 등 추가적인 처리</li>
													<li>보관하는 정보 : 지식재산권 침해 신고 시 침해신고서 등 제출한 증빙서류</li>
													<li>보관기간 : 6개월</li>
												</ol>
											</li>
										</ul>
									</div>
									<h4 class="sub_tit">나. 관련 법령에 의한 정보보유 사유</h4>
									<p class="sub_txt">상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계 법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계 법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보관기간은 아래의 예시와 같습니다.</p>
									<div class="tbl_type4 only_pc">
										<table border="1" cellspacing="0" summary="관련법령에 의한 정보보유 사유" >
											<colgroup> <col style="width: 40%;" > <col style="width: 40%;"> <col style="width: 20%;"> </colgroup>
											<thead>
											<tr >
												<th >보관하는 정보</th>
												<th >보관사유</th>
												<th >보관기간</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td>계약 또는 청약철회 등에 관한 기록</td>
												<td>전자상거래 등에서의 소비자보호에 관한 법률</td>
												<td>5년</td>
											</tr>
											<tr>
												<td>대금결제 및 재화 등의 공급에 관한 기록</td>
												<td>전자상거래 등에서의 소비자보호에 관한 법률</td>
												<td>5년</td>
											</tr>
											<tr>
												<td>소비자의 불만 또는 분쟁처리에 관한 기록</td>
												<td>전자상거래 등에서의 소비자보호에 관한 법률</td>
												<td>3년</td>
											</tr>
											<tr >
												<td >표시/광고에 관한 기록</td>
												<td >전자상거래 등에서의 소비자보호에 관한 법률</td>
												<td >6개월</td>
											</tr>
											<tr>
												<td>세법이 규정하는 모든 거래에 관한 장부 및 증빙서류</td>
												<td>국세기본법, 법인세법</td>
												<td>5년</td>
											</tr>
											<tr >
												<td >전자금융 거래에 관한 기록</td>
												<td >전자금융거래법</td>
												<td >5년</td>
											</tr>
											<tr >
												<td >금융거래정보</td>
												<td >특정 금융거래정보의 보고 및 이용 등에 관한 법률</td>
												<td >5년</td>
											</tr>
											<tr >
												<td >웹사이트 방문에 관한 기록</td>
												<td >통신비밀보호법</td>
												<td >3개월</td>
											</tr>
											</tbody>
										</table>
									</div>
									<div class="tbl_type4 only_mobile">
										<ul>
											<li class="list_item" style="list-style-type: none;">
												<ol>
													<li>보관하는 정보 : 계약 또는 청약철회 등에 관한 기록</li>
													<li>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
													<li>보관기간 : 5년</li>
												</ol>
												<ol>
													<li>보관하는 정보 : 대금결제 및 재화 등의 공급에 관한 기록</li>
													<li>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
													<li>보관기간 : 5년</li>
												</ol>
												<ol>
													<li>보관하는 정보 : 소비자의 불만 또는 분쟁처리에 관한 기록</li>
													<li>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
													<li>보관기간 : 3년</li>
												</ol>
												<ol>
													<li>보관하는 정보 : 표시/광고에 관한 기록</li>
													<li>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
													<li>보관기간 : 6개월</li>
												</ol>
												<ol>
													<li>보관하는 정보 : 세법이 규정하는 모든 거래에 관한 장부 및 증빙서류</li>
													<li>보존 이유 : 국세기본법, 법인세법</li>
													<li>보관기간 : 5년</li>
												</ol>
												<ol>
													<li>보관하는 정보 : 전자금융 거래에 관한 기록</li>
													<li>보존 이유 : 전자금융거래법</li>
													<li>보관기간 : 5년</li>
												</ol>
												<ol>
													<li>보관하는 정보 : 금융거래정보</li>
													<li>보존 이유 : 특정 금융거래정보의 보고 및 이용 등에 관한 법률</li>
													<li>보관기간 : 5년</li>
												</ol>
												<ol>
													<li>보관하는 정보 : 웹사이트 방문에 관한 기록</li>
													<li>보존 이유 : 통신비밀보호법</li>
													<li>보관기간 : 3개월</li>
												</ol>
											</li>
										</ul>
									</div>
								</div>
								<div class="section  sec6">
									<h3><a name="6" style="selector-dummy: true;" hidefocus="">6. 개인정보 파기절차 및 방법</a></h3>
									<p>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.<br>회사의 개인정보 파기절차 및 방법은 다음과 같습니다.</p>
									<h4 class="sub_tit2">가. 파기절차</h4>
									<ul class="sub_txt_lst">
										<li>- 이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호&nbsp;사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기합니다.</li>
										<li>- 동 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용하지 않습니다.</li>
									</ul>
									<h4 class="sub_tit">나. 파기방법</h4>
									<ul class="sub_txt_lst">
										<li>- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</li>
										<li>- 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
									</ul>
								</div>
								<div class="section  sec7">
									<h3><a name="7" style="selector-dummy: true;" hidefocus="">7. 이용자 및 법정대리인의 권리와 그 행사방법</a></h3>
									<ul class="sec_lst_txt">
										<li>- 이용자 및 법정대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며, 회사의 개인정보의 처리에 동의하지 않는 경우&nbsp;동의를 거부하거나 가입해지(회원탈퇴)를 요청하실 수 있습니다. 다만, 그러한 경우 서비스의 일부 또는 전부 이용이 어려울 수 있습니다.</li>
										<li>- 이용자 혹은 만 14세 미만 아동의 개인정보에 대한 조회, 수정 또는 가입해지를 위해서 개인정보 보호책임자 혹은 개인정보 보호담당자에게 서면, 전화 또는 이메일로 연락하시면&nbsp;지체 없이 조치하겠습니다.</li>
										<li>- 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를&nbsp;제3 자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.</li>
										<li>- 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 “5. 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로&nbsp;열람 또는 이용할 수 없도록 처리하고 있습니다.</li>
									</ul>
								</div>
								<div class="section sec8">
									<h3><a name="8" style="selector-dummy: true;" hidefocus="">8. 개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항</a></h3>
									<h4>가. 쿠키란</h4>
									<ul class="sub_txt_lst">
										<li>- 회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.</li>
										<li>- 쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 아주 작은 텍스트 파일로 이용자 컴퓨터의 하드디스크에 저장됩니다. 이후&nbsp;이&nbsp; 용자가 웹 사이트에 방문할 경우 <br>&nbsp;&nbsp;웹 사이트 서버는 이용자의 하드 디스크에 저장되어 있는 쿠키의 내용을 읽어 이용자의 환경설정을 유지하고 맞춤화된&nbsp;서비스를 제공하기 위해 이용됩니다.</li>
										<li>- 쿠키는 개인을 식별하는 정보를 자동적/능동적으로 수집하지 않으며, 이용자는 언제든지 이러한 쿠키의 저장을 거부하거나 삭제할 수 있습니다.</li>
									</ul>
									<h4 class="sub_tit">나. 쿠키의 설치/운영 및 거부</h4>
									<ul class="sub_txt_lst">
										<li>- 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 <br>&nbsp;&nbsp;쿠키의 저장을 거부할 수도 있습니다.</li>
										<li>- 다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 회사의 일부 서비스는 이용에 어려움이 있을 수 있습니다.</li>
										<li>- 쿠키 설치 허용 여부를 지정하는 방법(Internet Explorer의 경우)은 다음과 같습니다.
											<ol>
												<li>① [도구] 메뉴에서 [인터넷 옵션]을 선택합니다.</li>
												<li>② [개인정보 탭]을 클릭합니다.</li>
												<li>③ [개인정보 수준]을 설정하시면 됩니다.</li>
											</ol>
										</li>
									</ul>
								</div>
								<div class="section">
									<h3><a name="9" style="selector-dummy: true;" hidefocus="">9. 개인정보의 기술적/관리적 보호 대책</a></h3>
									<p class="sub_txt">회사는 이용자들의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다.</p>
									<h4 class="sub_tit">가. 비밀번호 암호화</h4>
									<p class="sub_txt">회원 아이디(ID)의 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.</p>
									<h4 class="sub_tit">나. 해킹 등에 대비한 대책</h4>
									<p class="sub_txt">회사는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.<br>개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 유출되거나 손상되지 않도록 방지하고 있으며, 암호화 통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.<br>그리고 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.</p>
									<h4 class="sub_tit">다. 개인정보 처리 직원의 최소화 및 교육</h4>
									<p class="sub_txt">회사의 개인정보 관련 처리 직원은 담당자에 한정시키고 있고, 이를 위한 별도의 비밀번호를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 개인정보보호 관련 법률 준수를 항상 강조하고 있습니다.</p>
									<h4 class="sub_tit">라. 개인정보보호전담기구의 운영</h4>
									<p class="sub_txt">사내 개인정보보호 전담기구 등을 통하여 개인정보처리방침의 이행사항 및 담당자의 준수 여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다.<br>단, 회사가 개인정보보호 의무를 다 하였음에도 불구하고 이용자 본인의 부주의나 회사가 관리하지 않는 영역에서의 사고 등 회사의 귀책에 기인하지 않은 손해에 대해서는 회사는 책임을 지지 않습니다.</p>
								</div>
								<div class="section sec10">
									<h3><a name="10" style="selector-dummy: true;" hidefocus="">10. 개인정보 보호책임자 및 담당자의 연락처</a></h3>
									<p class="sub_txt">귀하께서는 회사의 서비스를 이용하며 발생하는 모든 개인정보보호 관련 민원을 개인정보 보호책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.</p>
									<div class="manager_lst">
										<h3>개인정보 보호 책임자</h3>
										<table border="1" cellspacing="0" summary="개인정보 보호 책임자 정보" >
											<colgroup> <col style="width: 40%;" > <col style="width: 60%;"></colgroup>
											<tr>
												<td>이 름</td>
												<td>박기언</td>
											</tr>
											<tr>
												<td>소 속</td>
												<td>대표</td>
											</tr>
											<tr>
												<td>직 위</td>
												<td>CEO</td>
											</tr>
											<tr>
												<td>전 화</td>
												<td>02-312-0117</td>
											</tr>
											<tr>
												<td>메 일</td>
												<td>afarms@afarms.ai</td>
											</tr>
										</table>
										<br>
										<h3>개인정보 보호 담당자</h3>
										<table border="1" cellspacing="0" summary="개인정보 보호 담당자 정보" >
											<colgroup> <col style="width: 40%;" > <col style="width: 60%;"></colgroup>
											<tr>
												<td>이 름</td>
												<td>오지형</td>
											</tr>
											<tr>
												<td>소 속</td>
												<td>연구개발</td>
											</tr>
											<tr>
												<td>직 위</td>
												<td>연구원</td>
											</tr>
											<tr>
												<td>전 화</td>
												<td>010-8323-5634</td>
											</tr>
											<tr>
												<td>메 일</td>
												<td>liberator@afarms.ai</td>
											</tr>
										</table>
									</div>
									<p class="sub_txt2">기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
									<ul class="sub_txt_lst">
										<li>개인정보침해신고센터 http://privacy.kisa.or.kr / 국번없이 118</li>
										<li>대검찰청 사이버수사과 http://www.spo.go.kr / 국번없이 1301</li>
										<li>경찰청 사이버수사국 http://www.police.go.kr / 국번없이 182</li>
									</ul>
								</div>
								<div class="section sec11">
									<h3><a name="11" style="selector-dummy: true;" hidefocus="">11. 고지의 의무</a></h3>
									<p class="sub_txt">현 개인정보처리방침 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 홈페이지의 ‘공지사항’을 통해 고지할 것입니다.<br>다만, 개인정보의 수집 및 활용, 제3자 제공 등과 같이 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.</p>
									<ul>
										<li>- 공고일자: 2021년 10월 10일</li>
										<li>- 시행일자: 2021년 10월 10일</li>
									</ul>
								</div>
								<!-- CONTENT END --></div>
						</div>
					</div>
					<!-- 개인정보 처리방침 e -->
				</div>
			  </div>
			</div>
		</div>
		<!-- 개인정보 처리방침 modal e -->

			
    <!-- Footer S -->
    <div th:replace="common/common-footer.html :: common-footer">
    </div>
    <!-- Footer E -->
    </div>
  </div>
	
</body>
</html>