<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="common-head">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/img/favicon/manifest.json">
	<meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<!-- Google search -->
	<meta name="google-site-verification" content="jHVIha90MyDIR4xvlEiOSJN-aYslDsb8AMYo1V3ulvw" />
	<!-- SNS  meta -->
	<meta name="author" content="HOMIE">
	<meta name="description" content="농업인과 소비자를 위한 스마트 직거래 마켓으로 신선한 먹거리와 생산량 자율 조절로 인한 농업인과 소비자의 상생을 지향합니다.">
	<meta name="keywords" content="농업, 농업인, 감귤, 한라봉, 제주, 제주도, 직거래, 마켓, HOMIE, 호미">
	<meta property="og:description" content="농업인과 소비자를 위한 스마트 직거래 마켓으로 신선한 먹거리와 생산량 자율 조절로 인한 농업인과 소비자의 상생을 지향합니다.">
	<meta property="og:url" content="http://homie.afarms.ai"> 
	<meta property="og:title" content="HOMIE">
	<meta property="og:image" content="http://homie.afarms.ai/assets/img/brand/homie_meta_img.jpg">
	<meta property="og:type" content="website">
	<meta name="twitter:title" content="HOMIE" />
	<meta name="twitter:description" content="농업인과 소비자를 위한 스마트 직거래 마켓으로 신선한 먹거리와 생산량 자율 조절로 인한 농업인과 소비자의 상생을 지향합니다." />
	<meta name="twitter:image" content="http://homie.afarms.ai/assets/img/brand/homie_meta_img.jpg" />
	<meta name="twitter:card" content="summary_large_image" />
	<!-- 트위터 카드 타입은 summary_large_image, summary, photo 중 하나를 선택 가능 -->
	<title>HOMIE</title>
	<!-- Favicon -->
	<link rel="icon" href="assets/img/brand/favicon.png" type="image/png">
	<!-- Font Awesome 5 -->
	<link rel="stylesheet" href="assets/libs/@fortawesome/fontawesome-free/css/all.min.css"><!-- Purpose CSS -->
	<link rel="stylesheet" href="assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
	<link rel="stylesheet" href="assets/css/purpose.css" id="stylesheet">
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9392e1450a18c50c00f1ffcb390d331a&libraries=services,drawing"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.1/jsmpg.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hls.js@0.8.8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.1/video.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.1/video-js.css" rel="stylesheet">
</head>

<body>
</body>
</html>